* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

b {
  color: rgb(85, 85, 85);
}
