* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("/public/assets/lab.jpg");
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.App {
  height: 100vh;
}
