.main-page-content {
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.content-title h2 {
  text-align: center;
  font-size: 3.2vmax;
  color: rgb(47, 157, 198);
  text-shadow: 2px 2px 5px #000000;
  font-weight: 600;
  padding: 30px;
}

.content-body {
  max-width: 1700px;
  width: 90%;
  margin: 20px;
}

.content-body p {
  font-size: min(3vmin, 18px);
  line-height: 25px;
  color: rgb(99, 99, 99);
}
