.main-page-pic{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -10;
}

.main-video video{
    min-height: 500px;
}


.typewriter-text{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    text-align: center;
    z-index: 1;
}