.header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 130px;
  width: 100%;
}

.header-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(47, 157, 198, 0.9) 70%,
    transparent
  );
}

.header-logo {
  width: 210px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-logo img {
  height: 100px;
  width: auto;
}

.list {
  list-style: none;
  display: flex;
}

.list-item a {
  color: white;
  text-decoration: none;
  font-size: 0.9vmax;
  font-weight: 700;
  margin-right: 3px;
  padding: 5px 8px;
  border-right: 1px solid white;
}

.list-item:nth-of-type(10) a {
  border: none;
}

@media screen and (max-width: 1050px) {
  .header-contents {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    gap: 5px;
    background-image: linear-gradient(
      to bottom,
      rgba(47, 157, 198, 0.9) 70%,
      transparent
    );
  }

  .header-logo {
    flex-direction: row;
  }

  .list-item a {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .list {
    display: none;
  }
}
