.redirect-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(47, 157, 198, 1);
  width: 20px;
  height: 20px;
}

.redirect-button a {
  font-size: 2rem;
  padding: 15px;
  color: white;
}
