*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  height: 100vh;
  background-image: url('/public/assets/lab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
}
